.list {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  text-decoration: none;
  color: var(--accent-color);
  display: flex;
  gap: 10px;
}
.item {
  /* border: 5px solid var(--background-accent); */
  padding: 6px 8px;
  transition: box-shadow var(--animation-mode);
  &:hover,
  &:focus {
    box-shadow: 3px 8px 24px 29px var(--background-accent);
  }
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.img {
  width: 100px;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item {
    width: 40%;
  }
  .img {
    width: 150px;
  }
}
@media (min-width: 1280px) {
  .item {
    width: 30%;
  }
}
